@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.table {
    font-size: 1rem;
}
#btn-edit,#area-form {
    display: none;
}
.red {
    font-weight: bold;
    color: red;
}