* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input:focus{
  outline: none;
}
label,button {
  cursor: pointer;
}
/* MAIN */
#main {
  padding: 40px;
  box-shadow: 0 6px 16px #d3d9e5;
  font-size: 0;
}
#main .left-content, #main .right-content {
  display: inline-block;
  font-size: 16px;
}
#main .left-content {
  background-image: linear-gradient(to right bottom, #ba8fe9, #a981e2, #9773db, #8366d5, #6e59ce);
  color: #fff;
  padding:60px 0 170px 60px;
  width: 40%;
}
#main .left-content ul li i {
  padding: 10px;
  border-radius: 50%;
  background: #c4a6ec;
  color: #fffcfb;
}
#main .left-content ul li:nth-child(2) {
  margin: 20px 0 10px 0;
  color: #f5ecff;
}
#main .left-content ul li:last-child {
  color: #f9f5f4;
  line-height: 25px;
}
#main .left-content ul {
  margin-bottom: 35px;
}
#main .right-content {
  width: 46%;
  vertical-align: top;
  margin:100px 7% 0 7%;
}
#main .right-content h1 {
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 40px;
}
#main .right-content form .mb-4 input {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: 4px solid #f7f7f9;
  border-radius: 10px;
}
#main .right-content form .form-check label {
  color: rgba(0,0,0,0.5);
  font-weight: bold;
}
#main .right-content form button[type='submit'] {
  margin-top: 30px;
  width: 100%;
  padding: 15px 0;
  box-shadow: 0 10px 20px #d2d0f8;
}
#main .right-content form button[type='submit']:hover {
  background: #fff;
  color: #000;
  border: 1px solid #6e59ce;
}
/* END-MAIN */